@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);

#overlay {
	font-family: 'Orbitron', sans-serif;
	font-size: 1em;
	margin: .2em .5em;
	color: #1d1d1d;
	position: fixed;
	right: 0;
	bottom: 0;
	text-shadow: 0 0 7px pink, 0 0 2px white;
}
body {
	margin: 0;
	background: transparent; 
}
video#bgvid {
	position: fixed;
 	min-width: 100%;
 	min-height: 100%;
 	width: auto;
	height: auto;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
}
